<div class="modal-content" style="margin-top:130px;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Create Gateway</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="gatewayForm" novalidate>
            <div class="form-group">
                <label for="mac" class="col-sm-2 control-label" style="color: #000"><span style="color: red;">*</span>Mac</label>
                <div class="col-sm-10">
                    <input type="text" style="text-transform:uppercase;" class="form-control" name="mac" id="mac" placeholder="eg.AABBCCDDEEFF" ng-model="item.mac" ng-pattern="/^[a-fA-F0-9]{12}$/" required>
                    <span ng-if="gatewayForm.mac.$dirty && gatewayForm.mac.$invalid">
                        <span ng-if="gatewayForm.mac.$error.required" class="error">Mac can't be blank</span>
                        <span ng-if="gatewayForm.mac.$error.pattern" class="error">Mac is invalid</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label" style="color: #000"><span style="color: red;">*</span>Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model=" item.name" required>
                    <span ng-if="gatewayForm.name.$dirty && gatewayForm.name.$invalid">
                        <span ng-if="gatewayForm.name.$error.required" class="error">Name can't be blank</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="decription" class="col-sm-2 control-label" style="color: #000">Decription</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="decription" placeholder="Decription" ng-model="item.description"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-auth" ng-click="ok()" ng-disabled="gatewayForm.$invalid">&nbsp;Create&nbsp;</button>
    </div>
</div>